<!DOCTYPE html>
<html lang="ko"
    xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>CHACHA PROJECT :)</title>
    <style>
        /* 기본 설정 */
        * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
        }

        body {
          font-family: Arial, sans-serif;
          margin-top: 60px; /* 스티키 헤더가 콘텐츠를 덮지 않도록 여백 추가 */
        }
    </style>
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <div layout:fragment="content"></div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>